# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.5
  - nightly
notifications:
  email: false
# uncomment the following lines to override the default test script
script:
  - julia -e 'Pkg.clone(pwd())'
  - julia -e 'Pkg.build("$name")'
  - travis_wait julia --check-bounds=yes -e 'Pkg.test("$name", coverage=true)'
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("PerceptualHash"); Pkg.test("PerceptualHash"; coverage=true)'
